@charset "utf-8";
/* CSS Document */
/*
    Cria a configuração de estilo da estrutura do site (topo, menu,conteúdo e radapé)
*/
/*header {
    width: auto;
    height: 20%;
    margin: auto;
    align-items:center;
    padding: 0em;
    background-color: #DFDFDF;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}*/

/*nav {
    width: 14%;
    margin-top: 0.4em;
    margin-right: 1em;
    float: left;
}*/

main {
    width: 95%;
    min-height: 15em;
    margin: 1em auto;
    padding: 0.3em;
    background-color: none;
    box-shadow: -3px 2px 20px 0px #2E2E2E;

}



article {
    width: auto;
    min-height: 28em;
    padding: 0.6em
}
/*
h1 {
    font-family: Arial;
    font-size: 2em;
    color: #272727;
}

*/
header nav h1 {
    font-family: Arial;
    font-size: 1em;
    color: #FFFFFF;
}

footer {
    width: auto;
    height: 5em;
    margin: 2em auto 0em;
    padding: 0.6em;
    background-color: #2E2E2E;
}

    footer p {
        font-family: Arial;
        font-size: 1em;
        line-height: 150%;
        text-align: center;
        padding: 0.2em;
        color: #FFFFFF;
    }

/*
    Define a configuração da imagem do menu
*/
/*.linkhome {
    width: 30%;
    margin-left: 2em;
    margin-top: 2em;
 
    
}*/


/*
    Define a configuração dos botões (links) do menu
*/
/*.input {
    display: none;
}

.dropdown {
    position: relative;
    margin: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: red;
    }

.input:checked~ .dropdown-content {
    display: block;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:200px;
    background-color: #DFDFDF;
    
}*/





   

/*
.linkBotoes a:hover, a:active {
    background-color: red;
}
    */

.login {
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 20%;
    padding: 0.6em;
    background-color: #DFDFDF;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

.gridView {
    width: 80%;
    margin: 2em auto;
    padding: 0.6em;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}




