.sta_os {
    font-size: 9pt;
    /*width: 100%;*/
    width: 20px!important; 
    height: 20px!important;
}

.sta_os_pend {
    background-color: #E27B69; /*#c8e3ff*/
}

    .sta_os_pend:hover {
        background-color: #E27B69;
    }


.sta_os_enc {
    background-color: rgba(240, 242, 183, 1); /*#f0f2b7*/
}

    .sta_os_enc:hover {
        background-color: rgba(240, 242, 183, 0.7);
    }


.sta_os_atend {
    background-color: #E8EA61; /*#94CF96*/ /*#33d472;*/
}

    .sta_os_atend:hover {
        background-color: #E8EA61;
    }

.sta_os_reab {
    background-color: rgba(243, 233, 49, 1); /*#f3e931;*/
}

    .sta_os_reab:hover {
        background-color: rgba(243, 233, 49, 0.7);
    }

.sta_os_final {
    background-color: #6AB677;
}

    .sta_os_final:hover {
        background-color: #6AB677; /*#89c1f1;*/
    }

.sta_os_canc {
    background-color: rgba(187, 101, 101, 1); /*#bb6565;*/
}

    .sta_os_canc:hover {
        background-color: rgba(187, 101, 101, 0.7); /*#de7878;*/
    }

.sta_os_proj {
    color: #fff;
    background-color: rgba(59, 120, 31, 1); /*#3b781f;*/
}

    .sta_os_proj:hover {
        color: #fff;
        background-color: rgba(59, 120, 31, 0.7);
    }



.sta_os_saval {
    color: #fff;    
    background-color: rgba(231, 67, 67, 1); /*#e74343;*/
}

    .sta_os_saval:hover {
        color: #fff;
        background-color: rgba(231, 67, 67, 0.7);
    }

.sta_os_aval {    
    background-color: rgba(195, 230, 222, 1); /*#c3e6de;*/
}

    .sta_os_aval:hover {        
        background-color: rgba(195, 230, 222, 0.7);
    }
